<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Delegate(代理模型).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>NSArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NSCalendar应用(比较两个时间差).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NSDate_应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NSFileManager(文件的相关应用).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NSMutableDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NSMutableString的基本用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NSString(基本用法和扩展).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSdictionary_基本用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Protocol协议(接口).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Real类扩展.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>SEL数据类型（基本使用）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>block的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>copy和@property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>oc加强总结.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>类扩展.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0416D95819BD876C002FF319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0416D96819BD8F47002FF319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0416D97819BD9332002FF319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0416D98C19BD96F1002FF319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0416D9A219BD99D9002FF319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0416D9B819BDA205002FF319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0427F3BC19C0963000AEBCFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D27E219BB3A6E00F83A13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D27F519BB449E00F83A13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B2A5C519BBF386004FC29D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B4632819BB57600061D81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B4633819BB63530061D81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E24A1119BB187A0002B99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E24A2619BB18A00002B99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E24A3619BB1C2D0002B99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E24A4619BB241F0002B99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
